In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('stud.csv')
df

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [3]:
print("Categories in 'gender' variable:     ",end=" " )
print(df['gender'].unique())

print("Categories in 'race_ethnicity' variable:  ",end=" ")
print(df['race_ethnicity'].unique())

print("Categories in'parental level of education' variable:",end=" " )
print(df['parental_level_of_education'].unique())

print("Categories in 'lunch' variable:     ",end=" " )
print(df['lunch'].unique())

print("Categories in 'test preparation course' variable:     ",end=" " )
print(df['test_preparation_course'].unique())

Categories in 'gender' variable:      ['female' 'male']
Categories in 'race_ethnicity' variable:   ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in'parental level of education' variable: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in 'lunch' variable:      ['standard' 'free/reduced']
Categories in 'test preparation course' variable:      ['none' 'completed']

In [4]:
df = pd.get_dummies(df, columns=["gender","race_ethnicity","parental_level_of_education","lunch","test_preparation_course"])

In [5]:
df.head(5)

,math_score,reading_score,writing_score,gender_female,gender_male,race_ethnicity_group A,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,race_ethnicity_group E,parental_level_of_education_associate's degree,parental_level_of_education_bachelor's degree,parental_level_of_education_high school,parental_level_of_education_master's degree,parental_level_of_education_some college,parental_level_of_education_some high school,lunch_free/reduced,lunch_standard,test_preparation_course_completed,test_preparation_course_none
0,72,72,74,True,False,False,True,False,False,False,False,True,False,False,False,False,False,True,False,True
1,69,90,88,True,False,False,False,True,False,False,False,False,False,False,True,False,False,True,True,False
2,90,95,93,True,False,False,True,False,False,False,False,False,False,True,False,False,False,True,False,True
3,47,57,44,False,True,True,False,False,False,False,True,False,False,False,False,False,True,False,False,True
4,76,78,75,False,True,False,False,True,False,False,False,False,False,False,True,False,False,True,False,True

In [6]:
df

,math_score,reading_score,writing_score,gender_female,gender_male,race_ethnicity_group A,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,race_ethnicity_group E,parental_level_of_education_associate's degree,parental_level_of_education_bachelor's degree,parental_level_of_education_high school,parental_level_of_education_master's degree,parental_level_of_education_some college,parental_level_of_education_some high school,lunch_free/reduced,lunch_standard,test_preparation_course_completed,test_preparation_course_none
0,72,72,74,True,False,False,True,False,False,False,False,True,False,False,False,False,False,True,False,True
1,69,90,88,True,False,False,False,True,False,False,False,False,False,False,True,False,False,True,True,False
2,90,95,93,True,False,False,True,False,False,False,False,False,False,True,False,False,False,True,False,True
3,47,57,44,False,True,True,False,False,False,False,True,False,False,False,False,False,True,False,False,True
4,76,78,75,False,True,False,False,True,False,False,False,False,False,False,True,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,88,99,95,True,False,False,False,False,False,True,False,False,False,True,False,False,False,True,True,False
996,62,55,55,False,True,False,False,True,False,False,False,False,True,False,False,False,True,False,False,True
997,59,71,65,True,False,False,False,True,False,False,False,False,True,False,False,False,True,False,True,False
998,68,78,77,True,False,False,False,False,True,False,False,False,False,False,True,False,False,True,True,False
999,77,86,86,True,False,False,False,False,True,False,False,False,False,False,True,False,True,False,False,True

In [7]:
df['total score'] = df['math_score'] + df['reading_score'] + df['writing_score']
df['percentage'] = df['total score']/3
df.head()

,math_score,reading_score,writing_score,gender_female,gender_male,race_ethnicity_group A,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,race_ethnicity_group E,...,parental_level_of_education_high school,parental_level_of_education_master's degree,parental_level_of_education_some college,parental_level_of_education_some high school,lunch_free/reduced,lunch_standard,test_preparation_course_completed,test_preparation_course_none,total score,percentage
0,72,72,74,True,False,False,True,False,False,False,...,False,False,False,False,False,True,False,True,218,72.666667
1,69,90,88,True,False,False,False,True,False,False,...,False,False,True,False,False,True,True,False,247,82.333333
2,90,95,93,True,False,False,True,False,False,False,...,False,True,False,False,False,True,False,True,278,92.666667
3,47,57,44,False,True,True,False,False,False,False,...,False,False,False,False,True,False,False,True,148,49.333333
4,76,78,75,False,True,False,False,True,False,False,...,False,False,True,False,False,True,False,True,229,76.333333

In [8]:
df.drop(columns=["math_score","reading_score","writing_score","total score"], inplace=True)	
df.head(3)

,gender_female,gender_male,race_ethnicity_group A,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,race_ethnicity_group E,parental_level_of_education_associate's degree,parental_level_of_education_bachelor's degree,parental_level_of_education_high school,parental_level_of_education_master's degree,parental_level_of_education_some college,parental_level_of_education_some high school,lunch_free/reduced,lunch_standard,test_preparation_course_completed,test_preparation_course_none,percentage
0,True,False,False,True,False,False,False,False,True,False,False,False,False,False,True,False,True,72.666667
1,True,False,False,False,True,False,False,False,False,False,False,True,False,False,True,True,False,82.333333
2,True,False,False,True,False,False,False,False,False,False,True,False,False,False,True,False,True,92.666667

In [9]:
df = df.astype(int)
df.head(3)

,gender_female,gender_male,race_ethnicity_group A,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,race_ethnicity_group E,parental_level_of_education_associate's degree,parental_level_of_education_bachelor's degree,parental_level_of_education_high school,parental_level_of_education_master's degree,parental_level_of_education_some college,parental_level_of_education_some high school,lunch_free/reduced,lunch_standard,test_preparation_course_completed,test_preparation_course_none,percentage
0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1,72
1,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,0,82
2,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,92

In [10]:
df.shape

(1000, 18)

In [11]:
df.drop(columns=["gender_female","race_ethnicity_group E","parental_level_of_education_some high school","lunch_standard","test_preparation_course_none"], inplace=True)	
df.head(3)

,gender_male,race_ethnicity_group A,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,parental_level_of_education_associate's degree,parental_level_of_education_bachelor's degree,parental_level_of_education_high school,parental_level_of_education_master's degree,parental_level_of_education_some college,lunch_free/reduced,test_preparation_course_completed,percentage
0,0,0,1,0,0,0,1,0,0,0,0,0,72
1,0,0,0,1,0,0,0,0,0,1,0,1,82
2,0,0,1,0,0,0,0,0,1,0,0,0,92

In [12]:
df.shape

(1000, 13)

In [13]:
X = df.drop(columns=["percentage"])
Y = df["percentage"]

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [15]:
X_train.shape, X_test.shape

((800, 12), (200, 12))

In [16]:
y_train.shape, y_test.shape

((800,), (200,))

In [17]:
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
model = AdaBoostRegressor(n_estimators=50, learning_rate=1, random_state=0)

In [18]:
model.fit(X=X_train, y=y_train)

AdaBoostRegressor(learning_rate=1, random_state=0)

In [19]:
y_predicted=model.predict(X_test)
y_predicted

array([58.7       , 53.46666667, 62.54166667, 58.7       , 70.38596491,
       73.04040404, 70.38596491, 64.59060403, 73.04040404, 64.59060403,
       70.38596491, 58.53472222, 77.50993377, 64.59060403, 66.29292929,
       50.04618938, 62.98353909, 76.79787234, 70.89759036, 73.46385542,
       66.07255521, 59.89051095, 66.07255521, 62.98353909, 58.7       ,
       53.46666667, 62.98353909, 72.48780488, 50.04618938, 76.79787234,
       51.76595745, 73.04040404, 70.50273224, 66.07255521, 66.29292929,
       64.59060403, 72.40106952, 72.48780488, 76.79787234, 70.89759036,
       64.59060403, 50.04618938, 63.81278539, 76.79787234, 58.7       ,
       76.79787234, 70.38596491, 57.96428571, 76.79787234, 57.96428571,
       64.59060403, 58.53472222, 53.46666667, 63.81278539, 68.69230769,
       58.7       , 59.89051095, 64.59060403, 73.04040404, 59.89051095,
       58.7       , 73.92105263, 66.29292929, 64.59060403, 73.04040404,
       65.23404255, 64.59060403, 70.38596491, 76.79787234, 73.04040404,
       64.59060403, 59.89051095, 66.07255521, 73.92105263, 58.7       ,
       64.59060403, 64.59060403, 64.59060403, 70.38596491, 66.07255521,
       73.04040404, 71.5106383 , 70.38596491, 73.04040404, 77.50993377,
       71.5106383 , 58.7       , 76.79787234, 66.79761905, 57.96428571,
       53.46666667, 66.07255521, 58.53472222, 58.53472222, 63.81278539,
       63.81278539, 51.76595745, 58.53472222, 57.96428571, 62.98353909,
       76.79787234, 58.7       , 62.98353909, 66.29292929, 64.59060403,
       66.29292929, 65.37037037, 53.46666667, 70.89759036, 72.48780488,
       76.79787234, 76.79787234, 59.89051095, 53.46666667, 70.38596491,
       70.38596491, 66.29292929, 53.46666667, 66.79761905, 76.79787234,
       59.89051095, 58.53472222, 76.79787234, 62.98353909, 69.02702703,
       66.79761905, 64.59060403, 66.79761905, 73.04040404, 70.38596491,
       72.48780488, 64.59060403, 51.76595745, 64.59060403, 76.79787234,
       58.7       , 77.50993377, 66.29292929, 70.50273224, 64.59060403,
       77.50993377, 70.38596491, 64.59060403, 63.81278539, 53.46666667,
       57.96428571, 57.96428571, 52.99350649, 65.23404255, 63.81278539,
       63.81278539, 71.5106383 , 74.14606742, 69.02702703, 76.79787234,
       66.29292929, 59.89051095, 70.38596491, 70.50273224, 63.81278539,
       71.5106383 , 70.50273224, 52.99350649, 64.59060403, 66.29292929,
       70.38596491, 62.54166667, 63.81278539, 63.81278539, 64.59060403,
       70.50273224, 66.79761905, 57.96428571, 66.29292929, 70.38596491,
       63.81278539, 66.29292929, 66.07255521, 76.79787234, 64.59060403,
       72.48780488, 58.7       , 66.29292929, 63.81278539, 66.79761905,
       64.59060403, 76.79787234, 70.38596491, 57.96428571, 63.81278539,
       62.98353909, 64.59060403, 65.37037037, 66.07255521, 57.96428571,
       58.7       , 66.29292929, 73.04040404, 76.79787234, 73.04040404])

In [20]:
y_test

993    69
859    77
298    45
553    67
672    74
       ..
679    61
722    84
215    80
653    69
150    66
Name: percentage, Length: 200, dtype: int32

In [21]:
from sklearn.metrics import mean_squared_error 
print("mean square error is", mean_squared_error(y_test, y_predicted))

mean square error is 181.1423507915972

In [22]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_predicted)
print("Mean Absolute Error:", mae)

Mean Absolute Error: 10.72675884380839

In [23]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,  y_predicted))
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 13.458913432799738

In [24]:
from sklearn.metrics import r2_score
r2_score1=r2_score(y_test,y_predicted)
print(r2_score1)

0.10552111191854097